<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{header}">
<head>
<meta charset="utf-8" />

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style_form.css}" />
	
<title>Formulaire Secteur</title>

</head>

<body>
	<div class="signup-form">
    <form th:action="@{/site_escalade/{idSiteEscalade}/secteur/{idSecteur}/update(idSecteur=${idSecteur},idSiteEscalade=${idSiteEscalade})}" th:object="${secForm}" method="post" class="form-horizontal">
		<div class="col-xs-8 col-xs-offset-4 text-center" >
			<h2>Modifier un secteur</h2>
		</div>		
		<div class="form-group">
			<label class="control-label col-xs-4">Nom du secteur</label>
			<div class="col-xs-8">
                <input type="text" class="form-control" name="name" th:field="*{name}" required="required" maxlength="25">
            </div>        	
        </div>
        <div class="form-group">
			<label class="control-label col-xs-4">Localisation</label>
			<div class="col-xs-8">
                <input type="text" class="form-control" name="localisation" th:field="*{localisation}" required="required" maxlength="150">
            </div>        	
        </div>
		<div class="form-group">
			<label class="control-label col-xs-4">Accès</label>
			<div class="col-xs-8">
                <textarea type="text" class="form-control" name="acces" th:field="*{acces}" required="required" maxlength="255"></textarea>
            </div>        	
        </div>	
		<div class="form-group text-center">
			<button type="submit" class="btn btn-primary btn-lg ">Envoyer</button>   
		</div> 
		<!-- CSRF afin d’éviter les attaques Cross-Site Request Forgery. -->
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />  
    </form>
</div>
</body>
</html>