<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{header}">


<head>
<meta charset="utf-8" />

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link href="/img/mountain.png" rel="icon">
<link href="/img/mountain.png" rel="mountain">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/lib/animate/animate.min.css" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">

</head>


<!--==========================
    Site d'escalade section
  ============================-->

<body>

	<main id="main">

		<section id="page">
			<div class="page-container">

				

				<div class="custyle">
				<!-- nomDuspot -->
				<h4>
					Nom du site : <a th:href="@{/site_escalade}"><b><span th:text="${site.nomSiteEscalade}" title="consulter la liste des sites"></span></b></a>
					<span th:if="${site.officiel}"><img src="/img/officiel.png" alt="officiel" title="logo_officiel" /></img></span>
					<span th:if="${!site.officiel}"><img src="/img/non_officiel.png" alt="non_officiel" title="non_officiel" /></img></span>
				</h4>
				
					<!-- le spot -->					
					<table class="table listTableDeco" >
						<tbody>
							<tr>
								<td><b>Département : </b></td>
								<td th:text="${site.departement}"></td>
							</tr>
							<tr>
								<td><b>Ville : </b></td>
								<td th:text="${site.ville}"></td>
							</tr>
							<tr>
								<td><b>Code postal : </b></td>
								<td th:text="${site.codePostal}"></td>
							</tr>
						</tbody>
					</table>
					<!-- Les commentaires -->
					<table class="table listTableDeco">
						<tbody>
							<tr th:each="cm:${cmtr}">
								<td><span th:text="${cm.date}"></span><br/>
								<form method="post" th:action="@{/commentaire/{idCom}/site/{idSiteEscalade}/edit(idCom=${cmtr.idCom}, idSiteEscalade=${site.idSiteEscalade})}">
									<textarea name="comments" rows="5" cols="40" wrap="hard" th:text="${cm.comments}"></textarea>
										<div class="form-group text-center">
											<button type="submit" class="btn-get-create">Modifier</button>
										</div>
								</form>		
							</tr>
						</tbody>
					</table>

					<table class="table" sec:authorize="isAuthenticated()" th:if="${site.userGrimp.idUserGrimp}==${#authentication.getPrincipal().getIdUserGrimp()}">
					</table>
				</div>
			</div>
		</section>
		<!-- #Site d'escalade -->
	</main>

</body>
</html>