<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{header}">
<head>
<meta charset="utf-8" />

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style_form.css}" />
	
<title>Formulaire Longueur</title>

</head>

<body>
	<div class="signup-form">
    <form th:action="@{/site_escalade/{idSiteEscalade}/secteur/{idSecteur}/voie/{idVoie}/longueur/{idLongueur}/update(idLongueur=${idLongueur}, idVoie=${idVoie}, idSecteur=${idSecteur}, idSiteEscalade=${idSiteEscalade})}" th:object="${longueurForm}" method="post" class="form-horizontal">
		<div class="col-xs-8 col-xs-offset-4 text-center" >
			<h2>Modifier une longueur</h2>
		</div>		
		<div class="form-group">
			<label class="control-label col-xs-4">Distance</label>
			<div class="col-xs-8">
                <input type="text" class="form-control" th:field="*{distance}" required="required">
            	<span class="help-block" th:if="${#fields.hasErrors('distance')}" th:errors="*{distance}" style="color: red;"></span>
            </div>        	
        </div>
        <div class="form-group">
			<label class="control-label col-xs-4">Hauteur</label>
			<div class="col-xs-8">
                <input type="text" class="form-control" th:field="*{hauteur}" required="required">
            	<span class="help-block" th:if="${#fields.hasErrors('hauteur')}" th:errors="*{hauteur}" style="color: red;"></span>
            </div>        	
        </div>
        
        
		<div class="form-group text-center">
		<button type="submit" class="btn btn-primary btn-lg ">Envoyer</button>   
		</div> 
		<!-- CSRF afin d’éviter les attaques Cross-Site Request Forgery. -->
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    </form>
</div>
</body>
</html>