<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{header}">
<head>
<meta charset="utf-8" />

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style_form.css}" />
	
<title>Formulaire Site</title>

</head>

<body>

	<div class="signup-form">
    <form th:action="@{/site_escalade/create}" method="post" class="form-horizontal">
		<div class="col-xs-8 col-xs-offset-4 text-center" >
			<h2>Création d'un site d'escalade</h2>
		</div>		
        <div class="form-group">
			<label class="control-label col-xs-4">Nom du site</label>
			<div class="col-xs-8">
                <input type="text" class="form-control" name="siteName" required="required"></input>
            </div>        	
        </div>
<!--         <div class="form-group">
			<label class="control-label col-xs-4">Choisissez un lieu</label>
			<div class="col-xs-8">
                <select size="1" id="codexId" name="codexId" data-placeholder="lieu" class="chosen-select form-control">
                	<option th:each="cne : ${cdxList}" th:value="${cne.commune}" th:text="${cne.commune}+' '+${cne.codePostal}+' '+${cne.departement}"></option>
                </select>
        	</div>    
        </div> -->
		<div class="form-group">
			<label class="control-label col-xs-4">Département</label>
			<div class="col-xs-8">
                <select size="1" name="departement" data-placeholder="departement" class="chosen-select form-control">
                	<option th:each="dpt : ${cdxList}" th:value="${dpt.departement}" th:text="${dpt.departement}"></option>
                </select>
            </div>        	
        </div>       
		<div class="form-group">
			<label class="control-label col-xs-4">Ville</label>
			<div class="col-xs-8">
                <select size="1" name="ville" data-placeholder="ville" class="chosen-select form-control">
                	<option th:each="cne : ${cdxList}" th:value="${cne.commune}" th:text="${cne.commune}"></option>
                </select>
            </div>        	
        </div>
        <div class="form-group">
			<label class="control-label col-xs-4">Code Postal</label>
			<div class="col-xs-8">
                <select size="1" name="codePostal" data-placeholder="codePostal" class="chosen-select form-control">
                	<option th:each="cdp : ${cdxList}" th:value="${cdp.codePostal}" th:text="${cdp.codePostal}"></option>
                </select>
            </div>        	
        </div>
		<div sec:authorize="hasRole('ADMINISTRATOR')" class="form-group" >
			<label class="control-label col-xs-4">Taguer Officiel Les amis de l'escalade : </label>
				<div class="col-xs-8">
	           		<input type="radio"  name="officiel" value="true" required="required"> oui<br/>
	            	<input type="radio"  name="officiel" value="false" required="required" checked="checked"> non
	            </div>        	
        </div>
        
		<div class="form-group text-center">
			<button type="submit" class="btn btn-primary btn-lg ">Envoyer</button>   
		</div> 
		
		<!-- CSRF afin d’éviter les attaques Cross-Site Request Forgery. -->
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />   
    </form>
</div>
</body>
</html>