<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{header}">
<head>
<meta charset="utf-8" />

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style_form.css}" />
	
<title>Formulaire topo</title>

</head>

<body>
	<div class="signup-form">
    <form th:action="@{/formTopo/create(idSiteEscalade=${idSiteEscalade})}" method="post" class="form-horizontal" th:object="${topoForm}">
		<div class="col-xs-8 col-xs-offset-4 text-center" >
			<h2>Formulaire topo</h2>
		</div>		
        <div class="form-group">
			<label class="control-label col-xs-4">Nom</label>
			<div>
				<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></span>
			</div><br/>
			<div class="col-xs-8">
                <input type="text" class="form-control" th:field="*{name}" required="required" maxlength="25">
            </div>        	
        </div>
		<div class="form-group">
			<label class="control-label col-xs-4">Déscription</label>
			<div>
				<span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red;"></span>
			</div><br/>
			<div class="col-xs-8">
                <textarea class="form-control" th:field="*{description}" required="required" maxlength="255"></textarea>
            </div>        	
        </div>
        <div class="form-group">
			<label class="control-label col-xs-4">Lieu</label>
			<div class="col-xs-8">
                <select size="1" name="lieu" data-placeholder="lieu" class="chosen-select form-control">
                	<option th:each="cne : ${cdxList}" th:value="${cne.commune}+' '+${cne.codePostal}+' '+${cne.departement}" th:text="${cne.commune}+' '+${cne.codePostal}+' '+${cne.departement}"></option>
                </select>
            </div>        	
        </div>
		<div class="form-group">
			<label class="control-label col-xs-4">Date de parution</label>
			<div class="col-xs-8">
                <input type="date" class="form-control" th:field="*{edate}" required="required">
            </div>        	
        </div>
        <div class="form-group">
			<label class="control-label col-xs-4">Rendre Dispo : </label>
				<div class="col-xs-8">
	           		<input type="radio"  name="dispo" value="true" required="required" checked> oui<br/>
	            	<input type="radio"  name="dispo" value="false" required="required"> non
	            </div>        	
        </div>

		<div class="form-group text-center">
		<button type="submit" class="btn btn-primary btn-lg ">Envoyer</button>   
		</div>   
		<!-- CSRF afin d’éviter les attaques Cross-Site Request Forgery. -->
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    </form>

</div>
</body>
</html>