<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{header}">
<head>
<meta charset="utf-8" />

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/mountain.png" rel="icon">
  <link href="img/mountain.png" rel="mountain">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet" th:href="@{css/style.css}">

<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{css/style_form.css}" />
	
<title>Formulaire topo</title>

</head>

<body>
	<div class="signup-form">
    <form action="formTopo" method="post" class="form-horizontal">
		<div class="col-xs-8 col-xs-offset-4 text-center" >
			<h2>Formulaire topo</h2>
		</div>		
        <div class="form-group">
			<label class="control-label col-xs-4">Nom</label>
			<div class="col-xs-8">
                <input type="text" class="form-control" name="name" required="required">
            </div>        	
        </div>
		<div class="form-group">
			<label class="control-label col-xs-4">Déscription</label>
			<div class="col-xs-8">
                <input type="text" class="form-control" name="description" required="required">
            </div>        	
        </div>
        <div class="form-group">
			<label class="control-label col-xs-4">Lieu</label>
			<div class="col-xs-8">
                <input type="text" class="form-control" name="lieu" required="required">
            </div>        	
        </div>
		<div class="form-group">
			<label class="control-label col-xs-4">Date de parution</label>
			<div class="col-xs-8">
                <input type="date" class="form-control" name="edate" required="required">
            </div>        	
        </div>

		<div class="form-group text-center">
		<button type="submit" class="btn btn-primary btn-lg ">Envoyer</button>   
		</div>   
    </form>

</div>
</body>
</html>