<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{header}">


<head>
<meta charset="utf-8" />

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link href="/img/mountain.png" rel="icon">
<link href="/img/mountain.png" rel="mountain">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/lib/animate/animate.min.css" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">

</head>


<!--==========================
    Site d'escalade section
  ============================-->

<body>

	<main id="main">

		<section id="page">
			<div class="page-container">
				<div class="custyle">
				<!-- nomDuspot -->
				<h4>
					Nom du site : <a th:href="@{/site_escalade}"><b><span th:text="${site.nomSiteEscalade}" title="consulter la liste des sites"></span></b></a>
					<span th:if="${site.officiel}"><img src="/img/officiel.png" alt="officiel" title="logo_officiel" /></img></span>
					<span th:if="${!site.officiel}"><img src="/img/non_officiel.png" alt="non_officiel" title="non_officiel" /></img></span>
				</h4>
				
					<!-- le spot -->					
					<table class="table listTableDeco" >
						<tbody>
							<tr>
								<td><b>Lieu : </b></td>
								<td th:text="${site.lieu}"></td>
							</tr>
							<tr>
								<td><b>Commentaires : </b></td>
								<td><a th:href="@{/site/{idSiteEscalade}/commentaire(idSiteEscalade=${site.idSiteEscalade})}">Cliquez ici</a></td>
							</tr>
						</tbody>
					</table>
					<table class="table" sec:authorize="isAuthenticated()" th:if="${(site.userGrimp.idUserGrimp == #authentication.getPrincipal().getIdUserGrimp()) or (#authorization.expression('hasAuthority(''ADMINISTRATOR'')'))}">
						<tbody>
							<tr>
								<td><a class="btn btn-info btn-xs" th:href="@{/site_escalade/{idSiteEscalade}/edit(idSiteEscalade=${site.idSiteEscalade})}">Modifier</a></td>
								<td><a onclick="return confirm('Etes vous sûre de vouloir supprimer ce spot ?')" class="btn btn-danger btn_xs" th:href="@{/site_escalade/{idSiteEscalade}/delete/(idSiteEscalade=${site.idSiteEscalade})}">Supprimer</a></td>
							</tr>
						</tbody>	
					</table>
	
					<!-- les secteurs -->
					<h1><span th:text="|${site.nomSiteEscalade} : SECTEUR'S'|"></span></h1>

					<table class="table table-striped listTableDeco">
					
					<div sec:authorize="isAuthenticated()" th:if="${(site.userGrimp.idUserGrimp == #authentication.getPrincipal().getIdUserGrimp()) or (#authorization.expression('hasAuthority(''ADMINISTRATOR'')'))}">
						<a class="btn-get-create"
							th:href="@{/site_escalade/{idSiteEscalade}/secteur/create(idSiteEscalade=${site.idSiteEscalade})}">
							Ajouter un secteur à <span th:text="${site.nomSiteEscalade}"></span>
						</a>
					</div>		
						<thead>
							<th>Nom du secteur</th>
							<th>Localisation</th>
						</thead>
						<tbody>
							<tr th:each="secteur:${sec}">
								<td><h6><a th:href="@{/site_escalade/{idSiteEscalade}/secteur/{idSecteur}(idSiteEscalade=${site.idSiteEscalade}, idSecteur=${secteur.idSecteur})}"><b><span th:text="${secteur.nomDuSecteur}"></span></b></a></h6></td>
								<td style="width: 400px;" th:text="${secteur.localisation}"></td>
							</tr>							
						</tbody>
					</table>
				</div>

			</div>
		</section>
		<!-- #Site d'escalade -->
	</main>

</body>
</html>