<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{header}">


<head>
<meta charset="utf-8" />

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link href="img/mountain.png" rel="icon">
<link href="img/mountain.png" rel="mountain">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="lib/animate/animate.min.css" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="css/style.css" rel="stylesheet" th:href="@{css/style.css}">

</head>

<!--==========================
    le Topo section
  ============================-->

<body>

	<main id="main">

		<section id="page">
			<div class="page-container">
			<div class="custyle">
				<h4>
					<p>Nom du topo : <b><a th:href="@{/topo}" th:text="${topo.name}"></a></b></p>
				</h4>
				<h5>
					<p>Status : <span th:if="${topo.dispo}" style="color:#58eb34;">dispo !</span><span th:if="${!topo.dispo}" style="color:red;">non dispo : (</span></p>
				</h5>
			
				<table class="table listTableDeco">
					<thead>

					</thead>
					<tbody>
						<tr>
							<td><b>Lieu : </b></td>
							<td><span th:text="${topo.lieu}"></span></td>
						</tr>
						<tr>			
							<td><b>Date de parution : </b></td>
							<td><span th:text="${topo.edate}"></span></td>							
						</tr>
						<tr>
							<td><b>Déscription : </b></td>
							<td><span th:text="${topo.description}"></span></td>	
						</tr>
					</tbody>
				</table>
				<span sec:authorize="isAuthenticated()" th:if="${topo.dispo} and ${topo.userGrimp.idUserGrimp}!=${usr.idUserGrimp}"><form th:action="@{/reservation/{idTopo}/demande(idTopo=${topo.idTopo})}" method="post"><button type="submit" class="btn-get-create">Résever</button></form></span>
				<table class="table">
					<tbody>
						<tr sec:authorize="isAuthenticated()" th:if="${(topo.userGrimp.idUserGrimp == #authentication.getPrincipal().getIdUserGrimp()) or (#authorization.expression('hasAuthority(''ADMINISTRATOR'')'))}">
							<td><a class="btn btn-info btn-xs" th:href="@{/topo/{idTopo}/edit(idTopo=${topo.idTopo})}">Modifier</a></td>		
							<td><a onclick="return confirm('Etes vous sûre de vouloir supprimer ce topo ?')" class="btn btn-danger btn_xs" th:href="@{/topo/{idTopo}/delete(idTopo=${topo.idTopo})}">Supprimer</a></td>	
						</tr>
					</tbody>				
				</table>			
			</div>
		</div>
		</section>
		<!-- #Site d'escalade -->
	</main>

</body>
</html>