<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{header}">


<head>
<meta charset="utf-8" />

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link href="img/mountain.png" rel="icon">
<link href="img/mountain.png" rel="mountain">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="lib/animate/animate.min.css" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="css/style.css" rel="stylesheet" th:href="@{css/style.css}">

</head>

<!--==========================
    Topo section
  ============================-->

<body>

	<main id="main">

		<section id="page">
			<div class="page-container">
			<div class="custyle">
				<h1>MES RESERVATIONS TOPO'S'</h1>
				<h2>Mes demandes de prêts</h2>
					<table class="table table-striped listTableDeco">	
						<thead>
							<tr>
								<th>Nom du topo</th>
								<th>Lieu</th>
								<th>Date de parution</th>
								<th>demandeur</th>
								<th>Accepter la demande</th>	
							</tr>
						</thead>
						<tbody>
							<tr th:each="r:${res}">
								<td><b><a th:text="${r.topo.name}"></a></b></td>
								<td th:text="${r.topo.lieu}"></td>
								<td th:text="${r.topo.edate}"></td>
								<td th:text = "${r.userGrimp.pseudo}"></td>		
								<td>
									<form th:action="@{/topo/mes_reservations/ok(idResa=${r.idResa})}" method="post">
							           	<input type="radio"  name="accepterDemande" value="true" required="required" checked> oui
							            <input type="radio"  name="accepterDemande" value="false" required="required"> non
							   			<button type="submit" class="btn-get-create btn-xs ">Ok</button> 		 
									</form>
								</td>							
							</tr>
						</tbody>
					</table>
					<table class="table table-striped listTableDeco">
					<h2>Mes prêts en cours</h2>
						<thead>
							<tr>
								<th>Nom du topo</th>
								<th>Lieu</th>
								<th>Date de prêt</th>
								<th>Emprunteur</th>	
								<th>Topo rendu :</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="r:${rsok}">
								<td><b><a th:text="${r.topo.name}"></a></b></td>
								<td th:text="${r.topo.lieu}"></td>
								<td th:text="${r.topo.edate}"></td>
								<td th:text = "${r.userGrimp.pseudo}"></td>		
								<td>
									<form th:action="@{/topo/mes_reservations/reset(idResa=${r.idResa})}" method="post">
							           	<input type="radio"  name="dispo" value="true" required="required" checked> oui
							   			<button type="submit" class="btn-get-create btn-xs ">Ok</button> 		 
									</form>
								</td>							
							</tr>
						</tbody>
					</table>
				</div>			
			</div>
		</section>
		<!-- #Site d'escalade -->
	</main>

</body>
</html>