<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{header}">


<head>
<meta charset="utf-8" />

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link href="/img/mountain.png" rel="icon">
<link href="/img/mountain.png" rel="mountain">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
	rel="stylesheet">
	
<!-- toggle -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/lib/animate/animate.min.css" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">

</head>


<!--==========================
    Secteur section
  ============================-->

<body>

	<main id="main">

		<section id="page">
			<div class="page-container">
			
			
			<div class="custyle">
			<!-- le spot -->
			<h4>
				<p>Nom du site : <a th:href="@{/site_escalade}" title="consulter la liste des sites"><b><span th:text="${site.nomSiteEscalade}"></span></b></a></p>
			</h4>
				<table class="table listTableDeco">
					<thead>
						<tr>
							<!-- <th>Département</th>
							<th>Ville</th> -->
							<!-- <th>Modifier</th> -->
						</tr>
					</thead>
					<tbody>
						<td><b>Département : </b><span th:text="${site.departement}"></span></td>
						<td><b>Ville : </b><span th:text="${site.ville}"></span></td>
						<!-- <td><a class="btn btn-info btn-xs"
								th:href="@{/site_escalade/{idSiteEscalade}/edit(idSiteEscalade=${site.idSiteEscalade})}">Modifier</a></td> -->
						</tbody>
				</table>
				
				<!-- les secteurs -->
					<h4>
						<p>Nom du secteur : <a th:href="@{/le_site_escalade/{idSiteEscalade}/view(idSiteEscalade=${site.idSiteEscalade})}" title="consulter la liste des secteurs"><b><span th:text="${secteur.nomDuSecteur}"></span></b></a></p>
					</h4>
					
				<table class="table listTableDeco">
					<thead>
						<!-- <th>Localisation</th>
						<th>Acces</th> -->
						<!-- <th>Modifier</th> -->
					</thead>
					<tbody>
					<tr>
						<td><b>Localisation : </b><span th:text="${secteur.localisation}"></span></td>						
						<!-- <td><a class="btn btn-info btn-xs"
									th:href="@{/site_escalade/{idSiteEscalade}/secteur/{idSecteur}/edit(idSecteur=${secteur.idSecteur},idSiteEscalade=${idSiteEscalade})}">
									Modifier</a></td> -->
					</tr>
						<td><b>Acces : </b><span th:text="${secteur.acces}"></span></td>
					<tr>
					</tbody>
				</table>
				
				<!-- les voies -->
				<table class="table table-striped listTableDeco">
			
					<h1><span th:text="${secteur.nomDuSecteur}"></span> : VOIE'S'</h1>
					<a class="btn-get-create" th:href="@{/site_escalade/{idSiteEscalade}/secteur/{idSecteur}/voie/create(idSecteur=${secteur.idSecteur}, idSiteEscalade=${site.idSiteEscalade})}">Ajouter une voie à <span th:text="${secteur.nomDuSecteur}"></span></a>
					<thead>
						<th>Nom de la voie</th>
						<th>Cotation</th>
						<th>Modifier</th>
						<th>Supprimer</th>
					</thead>
					<tbody>
						<tr th:each="vo:${voie}">
							<td><h6><a th:href="@{/site_escalade/{idSiteEscalade}/secteur/{idSecteur}/voie/{idVoie}(idSiteEscalade=${site.idSiteEscalade}, idSecteur=${secteur.idSecteur}, idVoie=${vo.idVoie})}" title="consulter les longueurs"><b><span th:text="${vo.nomDeVoie}"></span></b></a></h6></td>
							<td th:text="${vo.cotation}"></td>
							<td><a class="btn btn-info btn-xs" th:href="@{/site_escalade/{idSiteEscalade}/secteur/{idSecteur}/voie/{idVoie}/edit(idSiteEscalade=${site.idSiteEscalade}, idSecteur=${secteur.idSecteur}, idVoie=${vo.idVoie})}">Modifier</a></td>
							<td><a onclick="return confirm('Etes vous sûre de vouloir supprimer cette voie ?')" class="btn btn-danger btn_xs" th:href="@{/site_escalade/{idSiteEscalade}/secteur/{idSecteur}/voie/{idVoie}/delete(idVoie=${vo.idVoie}, idSecteur=${idSecteur}, idSiteEscalade=${idSiteEscalade})}">Supprimer</a></td>
						</tr>
					</tbody>
				</table>
</div>
			
		</div>
		</section>
		<!-- #Site d'escalade -->
	</main>

</body>
</html>