<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{header}">


<head>
<meta charset="utf-8" />

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link href="/img/mountain.png" rel="icon">
<link href="/img/mountain.png" rel="mountain">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/lib/animate/animate.min.css" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">

</head>


<!--==========================
    Site d'escalade section
  ============================-->

<body>

	<main id="main">

		<section id="page">
			<div class="page-container">
			
				<h1>Sites d'escalades</h1>
				<form th:action="@{/site_escalade}" methode="get">
					<label>Mot clé :</label>
					<input type="text" name="motCle" th:value="${motCle}"></input>
					<button class="btn btn-primary">Chercher</button>
				</form>
				
				<a href="/site_escalade/create" th:href="@{/site_escalade/create}" class="btn-get-create">Créer un spot</a>
				
			<div class="custyle">
				<table class="table table-striped listTableDeco">
					<thead>
						<tr>
							<th>Nom du spot</th>
							<th>Département</th>
							<th>Ville</th>	
							<th>Modifier</th>
							<th>Ajouter</th>
							<th>Supprimer</th>
							</tr>
					</thead>
					<tbody>
						<tr th:each="site:${listSite}">
							<td ><!-- <a th:href="@{index}"> --><span th:text="${site.nomSiteEscalade}"></span><!-- </a> --></td>
							<td th:text="${site.departement}"></td>
							<td th:text="${site.ville}"></td>
							<td><a class="btn btn-info btn-xs" th:href="@{/site_escalade/{idSiteEscalade}/edit(idSiteEscalade=${site.idSiteEscalade})}">Modifier</a></td>
							<td><a class="btn btn-info btn-xs" th:href="@{/site_escalade/{idSiteEscalade}/secteur(idSiteEscalade=${site.idSiteEscalade})}">Ajouter</a></td>
							<td><a onclick="return confirm('Etes vous sûre de voiloir supprimer ce spot ?')" class="btn btn-danger btn_xs" th:href="@{site_escalade/{idSiteEscalade}/delete(idSiteEscalade=${site.idSiteEscalade})}">Supprimer</a></td>
						</tr>
					</tbody>
				</table>
</div>
			<ul class="nav justify-content-center">
				<li th:class="${pageCourante}==${status.index}?'active':''"
					th:each="pa, status:${pages}"><a
					th:href="@{index(page=${status.index},size=${size}, site=${site}, motCle=${motCle})}"
					th:text="${status.index}"></a></li>
			</ul>
			
		</div>
		</section>
		<!-- #Site d'escalade -->
	</main>

</body>
</html>