<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{header}">


<head>
<meta charset="utf-8" />

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link href="/img/mountain.png" rel="icon">
<link href="/img/mountain.png" rel="mountain">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/lib/animate/animate.min.css" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">

</head>


<!--==========================
    Page profil
  ============================-->

<body>

	<main id="main">

		<section id="page">
			<div class="page-container">
			
			<!-- #Mon Profil -->
			<h1>MON PROFIL : </h1>
			
			<div class="custyle">
				<table class="table listTableDeco">
					<tbody>
						<tr>
							<td><b>Pseudo : </b></td>
							<td th:text="${usr.pseudo}"></td>						
						</tr>
						<tr>
							<td><b>Email : </b></td>
							<td th:text="${usr.email}"></td>
						</tr>
						<tr>
							<td><b>Mot de passe : </b></td>
							<td>********</td>
						</tr>
					</tbody>
				</table>
				<table class="table">
					<tbody>
						<tr>
							<td><a th:href="@{/profil/{idUserGrimp}/edit(idUserGrimp=${idUserGrimp})}">modifier </a></td>
							<td id="supp"><a onclick="return confirm('Etes vous sûre de vouloir supprimer votre profil ?')" th:href="@{/profil/{idUserGrimp}/delete(idUserGrimp=${idUserGrimp})}"> supprimer</a></td>
						</tr>						
					</tbody>				
				</table>			
			</div>
			
			<!-- #Mes Sites -->
			<h1>MES SPOT'S' : </h1>
			
			<div class="custyle">
				<table class="table table-striped listTableDeco">
 					<tbody>
						<tr th:each="site:${sitList}">
							<td><b><a th:href="@{/le_site_escalade/{idSiteEscalade}/view(idSiteEscalade=${site.idSiteEscalade})}"><span th:text="${site.nomSiteEscalade}"></span></a></b></td>
							<td th:text="${site.departement}"></td>
							<td th:text="${site.ville}"></td>
							<!-- <td><span th:if="${site.officiel}"><img src="/img/officiel.png" alt="officiel" title="logo_officiel" /></img></span><span th:if="${!site.officiel}"><img src="/img/non_officiel.png" alt="non_officiel" title="logo_non_officiel" /></img></span></td> -->
						</tr>
					</tbody>
				</table>
				<p></p>
				<a th:href="@{/site_escalade/{idUserGrimp}/create(idUserGrimp=${usr.idUserGrimp})}" class="btn-get-create">Créer un spot</a>
			</div>
			<p></p>
			<!-- #Topo -->
			<h1>MES TOPO'S' : </h1>
			
			<div class="custyle">
				<table class="table table-striped listTableDeco">
 					<tbody>
						<tr th:each="topo:${topList}">
							<td><b><span th:text="${topo.name}"></span></b></td>
							<td th:text="${topo.lieu}"></td>
							<td th:text="${topo.edate}"></td>
							<td>
								<span th:if="${topo.dispo}"><img src="/img/dispo.png" alt="dispo" title="logo_dispo" /></img></span>
								<span th:if="${!topo.dispo}"><img src="/img/non_dispo.png" alt="dispo" title="logo_non_dispo" /></img></span>
							</td>
						</tr>
					</tbody>
				</table>
				<p></p>
				<a th:href="@{/formTopo/{idUserGrimp}/create(idUserGrimp=${usr.idUserGrimp})}" class="btn-get-create">ajouter un topo</a>
			</div>

		</section>
		
	</main>

</body>
</html>