<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{header}">


<head>
<meta charset="utf-8" />

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link href="/img/mountain.png" rel="icon">
<link href="/img/mountain.png" rel="mountain">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/lib/animate/animate.min.css" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">

</head>


<!--==========================
    Voie section
  ============================-->

<body>

	<main id="main">

		<section id="page">
			<div class="page-container">
				<h3 th:text="${addVoieToSecteur.nomDuSecteur}"></h3>
				<h1>Voie(s)</h1>
				
				<form th:action="@{/secteur/{idSecteur}/voie(idSecteur=${addVoieToSecteur.idSecteur})}" methode="get">
					<label>Mot clé :</label>
					<input type="text" name="motCle" th:value="${motCle}"></input>
					<button class="btn btn-primary">Chercher</button>
				</form>
				
				<a class="btn-get-create" th:href="@{/secteur/{idSecteur}/voie/create(idSecteur=${addVoieToSecteur.idSecteur})}">Ajouter une Voie</a></td>

<div class="custyle">
				<table class="table table-striped listTableDeco">
					<thead>
						<tr>
							<th>Nom de la voie</th>
							<th>Cotation</th>	
							<th>Modifier</th>
							<th>Ajouter une Longueur</th>
							<th>Supprimer</th>
							</tr>
					</thead>
					<tbody>
						<tr th:each="vo:${listVoie}">
							<td ><a th:href="@{index}"><span th:text="${vo.nomDeVoie}"></span></a></td>
							<td th:text="${vo.cotation}"></td>
							<td><a class="btn btn-info btn-xs" th:href="@{/secteur/{idSecteur}/voie/{idVoie}/edit(idVoie=${vo.idVoie}, idSecteur=${idSecteur})}">Modifier</a></td>
							<td><a class="btn btn-info btn-xs" th:href="@{/voie/{idVoie}/longueur(idVoie=${vo.idVoie})}">Ajouter</a></td>
							<td><a onclick="return confirm('Etes vous sûre de vouloir supprimer cette voie ?')" class="btn btn-danger btn_xs" th:href="@{/secteur/{idSecteur}/voie/{idVoie}/delete(idVoie=${vo.idVoie}, idSecteur=${idSecteur})}">Supprimer</a></td>
						</tr>
					</tbody>
				</table>
</div>
</div>
		</section>
		<!-- #Secteur -->
	</main>

</body>
</html>