<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{header}">


<head>
<meta charset="utf-8" />

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link href="/img/mountain.png" rel="icon">
<link href="/img/mountain.png" rel="mountain">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/lib/animate/animate.min.css" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">

</head>


<!--==========================
    Voie section
  ============================-->

<body>

	<main id="main">

		<section id="page">
			<div class="page-container">
				
			<div class="custyle">
				<!-- nomDuspot -->
				<h4>
					Nom du site : <a th:href="@{/site_escalade}"><b><span th:text="${site.nomSiteEscalade}" title="consulter la liste des sites"></span></b></a>
					<span th:if="${site.officiel}"><img src="/img/officiel.png" alt="officiel" title="logo_officiel" /></img></span>
					<span th:if="${!site.officiel}"><img src="/img/non_officiel.png" alt="non_officiel" title="logo_non_officiel" /></img></span>
				</h4>
				<table class="table listTableDeco">
					<thead>
					</thead>
					<tbody>
						<tr>
							<td><b>Département : </b></td>
							<td><span th:text="${site.departement}"></span></td>
						</tr>
						<tr>
							<td><b>Ville : </b></td>
							<td><span th:text="${site.ville}"></span></td>
						</tr>						
					</tbody>
				</table>
				
				<!-- les secteurs -->
				<p></p>
				<h4>
					<p>Nom du secteur : <a th:href="@{/le_site_escalade/{idSiteEscalade}/view(idSiteEscalade=${site.idSiteEscalade})}"><b><span th:text="${secteur.nomDuSecteur}" title="consulter la liste des secteurs"></span></b></a></p>
				</h4>
					
				<table class="table listTableDeco">
					<thead>
					</thead>
					<tbody>
					<tr>
						<td><b>Localisation : </b></td>
						<td><span th:text="${secteur.localisation}"></span></td>					
					</tr>
					<tr>
						<td><b>Acces : </b></td>
						<td><span th:text="${secteur.acces}"></span></td>
					</tr>
					</tbody>
				</table>
				
				<!-- les voies -->
				<p></p>
					<h4>
						<p>Nom de la voie : <a th:href="@{/site_escalade/{idSiteEscalade}/secteur/{idSecteur}(idSiteEscalade=${site.idSiteEscalade}, idSecteur=${secteur.idSecteur})}"><b><span  th:text="${voie.nomDeVoie}" title="consulter la liste des voies"></span></b></a></p>
					</h4>
				<table class="table listTableDeco">			
					<thead>
					</thead>
					<tbody>
						<tr>
							<td><b>Cotation : </b><td>
							<td><span th:text="${voie.cotation}"></span></td>
						</tr>
					</tbody>
				</table>
				<table class="table">
					<tbody>
						<tr>
							<td><a class="btn btn-info btn-xs" th:href="@{/site_escalade/{idSiteEscalade}/secteur/{idSecteur}/voie/{idVoie}/edit(idSiteEscalade=${site.idSiteEscalade}, idSecteur=${secteur.idSecteur}, idVoie=${voie.idVoie})}">Modifier</a></td>
							<td><a onclick="return confirm('Etes vous sûre de vouloir supprimer cette voie ?')" class="btn btn-danger btn_xs" th:href="@{/site_escalade/{idSiteEscalade}/secteur/{idSecteur}/voie/{idVoie}/delete(idVoie=${voie.idVoie}, idSecteur=${idSecteur}, idSiteEscalade=${idSiteEscalade})}">Supprimer</a></td>
						</tr>
					</tbody>
				</table>
				
				<!-- les longueurs -->
				<table class="table table-striped listTableDeco">
					<h1><span th:text="${voie.nomDeVoie}"></span> : LONGUEUR'S'</h1>
					<button class="btn-get-create"><a th:href="@{/site_escalade/{idSiteEscalade}/secteur/{idSecteur}/voie/{idVoie}/longueur/create(idSiteEscalade=${site.idSiteEscalade}, idSecteur=${secteur.idSecteur}, idVoie=${voie.idVoie})}">Ajouter une longueur à <span th:text="${voie.nomDeVoie}"></span></a></button>
					<thead>
						<th>Distance</th>
						<th>Hauteur</th>
						<th>Modifier</th>
						<th>Supprimer</th>
					</thead>
					<tbody>
						<tr th:each="longr:${longueur}">
							<td th:text="${longr.distance}"></td>
							<td th:text="${longr.hauteur}"></td>
							<td><a class="btn btn-info btn-xs" th:href="@{/site_escalade/{idSiteEscalade}/secteur/{idSecteur}/voie/{idVoie}/longueur/{idLongueur}/edit(idLongueur=${longr.idLongueur}, idVoie=${voie.idVoie}, idSecteur=${secteur.idSecteur}, idSiteEscalade=${site.idSiteEscalade})}">Modifier</a></td>
							<td><a onclick="return confirm('Etes vous sûre de vouloir supprimer cette Longueur ?')" class="btn btn-danger btn_xs" th:href="@{/site_escalade/{idSiteEscalade}/secteur/{idSecteur}/voie/{idVoie}/longueur/{idLongueur}/delete(idLongueur=${longr.idLongueur}, idVoie=${voie.idVoie}, idSecteur=${secteur.idSecteur}, idSiteEscalade=${site.idSiteEscalade})}">Supprimer</a></td>
						</tr>
					</tbody>
				</table>
</div>
			
		</div>
		</section>
		<!-- #Site d'escalade -->
	</main>

</body>
</html>